{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="projects-section" id="home">
    <div class="projects-section-header">
        <p>Works</p>
        <p class="time">{{ "now"|date("j F Y") }}</p>
    </div>
    <div class="projects-section-line">
        <div class="projects-status">
            {% for category in categories %}
                <div class="item-status">
                    <span class="status-number">XX</span>
                    <span class="status-type">{{ category.title }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="view-actions">
            <button class="view-btn list-view" title="List View">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6" />
                    <line x1="8" y1="12" x2="21" y2="12" />
                    <line x1="8" y1="18" x2="21" y2="18" />
                    <line x1="3" y1="6" x2="3.01" y2="6" />
                    <line x1="3" y1="12" x2="3.01" y2="12" />
                    <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
            </button>
            <button class="view-btn grid-view active" title="Grid View">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                    <rect x="3" y="3" width="7" height="7" />
                    <rect x="14" y="3" width="7" height="7" />
                    <rect x="14" y="14" width="7" height="7" />
                    <rect x="3" y="14" width="7" height="7" /></svg>
            </button>
        </div>
    </div>
    <div class="project-boxes jsGridView">
        {% for work in works %}
{#            {{ dump(work) }}#}
        <div class="project-box-wrapper">
            <div class="project-box">
                <div class="project-box-header">
                    {% if work.user is not null %}
                        {% if work.user.id == app.user.id %}
                            <div class="more-wrapper">
                                {{ include('works/_delete_form.html.twig') }}
                            </div>
                        {% endif %}
                    {% endif %}
                    </div>
                    {{ dump(work) }}
                    <div class="project-box-content-header">
                        <p class="box-content-header">{{ work.title }}</p>
                        <p class="box-content-subheader">{{ work.description }}</p>
                    </div>
                <div class="project-box-footer">
                    <div class="participants">
                        {% if app.user and work.isLikedByUser(app.user) %}
                            {{ dump('liké') }}
                            {% else %}
                            {{ dump('non liké') }}
                        {% endif %}
                        <button class="project-btn-more add-participant">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16"> <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/> </svg>
                        </button>
                        {% if work.user is not null %}
                            {% if work.user.id == app.user.id %}
                                <a href="{{ path('app_works_edit', {'id': work.id}) }}" class="add-participant">
                                    {#                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">#}
                                    {#                                <path d="M12 5v14M5 12h14" />#}
                                    {#                            </svg>#}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"> <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/> </svg>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if work.filesOrLinks is not null %}
                        <a href="{{ asset('uploads/') }}{{ work.filesOrLinks }}" download class="days-left">
                            Télécharger
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    <div class="messages-section">
        <button class="messages-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                <circle cx="12" cy="12" r="10" />
                <line x1="15" y1="9" x2="9" y2="15" />
                <line x1="9" y1="9" x2="15" y2="15" /></svg>
        </button>
        <div class="projects-section-header">
            <p>New Works</p>
        </div>
        <div class="messages">
            <div class="message-box">
                <!-- <img src="..." alt="Logo PHP"> -->
                <div class="message-content">
                    <div class="message-header">
                        <div class="name">Stephanie</div>
                        <div class="star-checkbox">
                            <input type="checkbox" id="star-1">
                            <label for="star-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
                            </label>
                        </div>
                    </div>
                    <p class="message-line">
                        I got your first assignment. It was quite good. 🥳 We can continue with the next assignment.
                    </p>
                </div>
            </div>
            <div class="message-box">
                <!-- <img src="..." alt="Logo JS"> -->
                <div class="message-content">
                    <div class="message-header">
                        <div class="name">Mark</div>
                        <div class="star-checkbox">
                            <input type="checkbox" id="star-2">
                            <label for="star-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
                            </label>
                        </div>
                    </div>
                    <p class="message-line">
                        Hey, can tell me about progress of project? I'm waiting for your response.
                    </p>
                </div>
            </div>
            <div class="message-box">
                <!-- <img src="..." alt="Logo HTML"> -->
                <div class="message-content">
                    <div class="message-header">
                        <div class="name">David</div>
                        <div class="star-checkbox">
                            <input type="checkbox" id="star-3">
                            <label for="star-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
                            </label>
                        </div>
                    </div>
                    <p class="message-line">
                        Awesome! 🤩 I like it. We can schedule a meeting for the next one.
                    </p>
                </div>
            </div>
            <div class="message-box">
                <!-- <img src="..." alt="Logo SCSS"> -->
                <div class="message-content">
                    <div class="message-header">
                        <div class="name">Jessica</div>
                        <div class="star-checkbox">
                            <input type="checkbox" id="star-4">
                            <label for="star-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
                            </label>
                        </div>
                    </div>
                    <p class="message-line">
                        I am really impressed! Can't wait to see the final result.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
