{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="projects-section" id="home">
    <div class="projects-section-header">
        <p>Works</p>
        <p class="time">{{ "now"|date("j F Y") }}</p>
    </div>
    <div class="projects-section-line">
        <div class="projects-status">
            {% for category in categories %}
                <div class="item-status">
                    <span class="status-number">XX</span>
                    <span class="status-type">{{ category.title }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="view-actions">
            <button class="view-btn list-view" title="List View">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6" />
                    <line x1="8" y1="12" x2="21" y2="12" />
                    <line x1="8" y1="18" x2="21" y2="18" />
                    <line x1="3" y1="6" x2="3.01" y2="6" />
                    <line x1="3" y1="12" x2="3.01" y2="12" />
                    <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
            </button>
            <button class="view-btn grid-view active" title="Grid View">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                    <rect x="3" y="3" width="7" height="7" />
                    <rect x="14" y="3" width="7" height="7" />
                    <rect x="14" y="14" width="7" height="7" />
                    <rect x="3" y="14" width="7" height="7" /></svg>
            </button>
        </div>
    </div>
    <div class="project-boxes jsGridView">
        {% for work in works %}
{#            {{ dump(work) }}#}
        <div class="project-box-wrapper">
            <div class="project-box">
                <div class="project-box-header">
                    {% if work.user is not null %}
                        {% if work.user.id == app.user.id %}
                            <div class="more-wrapper">
                                {{ include('works/_delete_form.html.twig') }}
                            </div>
                        {% endif %}
                    {% endif %}
                    </div>
{#                    {{ dump(work) }}#}
                    <div class="project-box-content-header">
                        <p class="box-content-header">{{ work.title }}</p>
                        <p class="box-content-subheader">{{ work.description }}</p>
                    </div>
                <div class="project-box-footer">
                    <div class="participants">
                        {% if app.user and work.isLikedByUser(app.user) %}
                            <a href="{{ path('json_like', {'id_work':work.id}) }}" class="project-btn-more add-participant likes">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </a>
                            {% else %}
                                <a href="{{ path('json_like', {'id_work':work.id}) }}" class="project-btn-more add-participant likes">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </a>
                        {% endif %}
                        {% if work.user is not null %}
                            {% if work.user.id == app.user.id %}
                                <a href="{{ path('app_works_edit', {'id': work.id}) }}" class="add-participant">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if work.filesOrLinks is not null %}
                        <a href="{{ asset('uploads/') }}{{ work.filesOrLinks }}" download class="days-left">
                            Télécharger
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    <div class="messages-section">
        <button class="messages-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                <circle cx="12" cy="12" r="10" />
                <line x1="15" y1="9" x2="9" y2="15" />
                <line x1="9" y1="9" x2="15" y2="15" /></svg>
        </button>
        <div class="projects-section-header">
            <p>New Works</p>
        </div>
        <div class="messages">
            {% for worksLiked in worksMostLiked %}
                {% set worksLiked = worksLiked[0] %}
{#                {{ dump(worksLiked) }}#}
                <div class="message-box">
                    <!-- <img src="..." alt="Logo PHP"> -->
                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">{{ worksLiked.title }}</div>
                            <div class="star-checkbox">
                                <input type="checkbox" id="star-1">
                                <label for="star-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
                                </label>
                            </div>
                        </div>
                        <p class="message-line">{{ worksLiked.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
