{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="projects-section">
        {{ form_start(registrationForm, {'attr': {'class': 'form-login'}}) }}
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            <div class="search-wrapper">
                {{ form_row(registrationForm.email, {'attr': {'class': 'search-input', 'placeholder': 'Enter your email ...'}}) }}
            </div>
            <div class="search-wrapper">
                {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'search-input', 'placeholder': 'Enter your password ...'}}) }}
            </div>
            {{ form_row(registrationForm.agreeTerms) }}
            <div class="search-wrapper button-submit">
                <button type="submit" class="btn">Register</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
